@charset "utf-8";

:root {
  --max-container: 128rem;
  --middle-container: 1200px;
  --main-color: #0077ff;
  --sub-color1: #555;
  --sub-color2: #c2c2c2;
  --hover: #eaeaea;
  --bg-color: #f9f9f9;
  --text-color: #333;
  --sub-text-color: #888;
  --transition1: all 0.3s ease; 
} 

* { margin: 0; padding: 0; border: 0; box-sizing: border-box; /* font-family: "Pretendard", sanc-serif; */ word-break: keep-all;  letter-spacing: -0.07rem; font-size: 1.8rem; } 
html { height: 100%; font-size: 10px; } 
html, body { overflow-x: hidden; margin: 0 !important;} 
ul, li { list-style: none; } 
img,main,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display: block; } 
img { object-fit: contain; }
h2,h3,h4,h5,p,span,em,strong,a { margin: 0; } 
a { text-decoration: none; color: inherit; } 
input { border-radius: 0; -webkit-appearance: none;
-moz-appearance: none; appearance: none; } 
em,address { font-style: normal; } 
body { overflow-x: hidden; background-color: #fff; } 
button { background: none; border: 0; cursor: pointer; -webkit-appearance: none; } 
p { margin-block-start: 0; margin-block-end: 0rem; } 
table td, table th { vertical-align: middle; } 

